RewriteEngine On

# Redirection pour les espaces dans les URLs
RewriteRule ^play%20to%20help%20mvc%20f/(.*)$ /play%20to%20help%20mvc%20f/$1 [L]

# Autoriser l'accès aux fichiers PHP
<Files "*.php">
    Order Allow,Deny
    Allow from all
</Files>